.bookmarks_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  transition: all 0.3s ease;
}
.bookmarks_item p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bookmarks_item svg {
  display: none;
  transition: all 0.3s ease;
}

.bookmarks_item:hover {
  transition: all 0.3s ease;
  border-radius: 5px;
  background: #282d3b;
}
.bookmarks_item:hover svg {
  transition: all 0.3s ease;
  display: block;
}

.bookmarks_card {
  position: relative;
}

@media only screen and (max-width: 700px) {
  .catalogue_content {
    display: flex;
    flex-direction: column;
  }
  .cat_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .cat_sort {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .main_page_title h2 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .cat_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .translator_filter {
    flex-direction: column;
    align-items: start;
  }
  .bookmarks_card {
    width: 100%;
  }
  .catalogue_right {
    margin-top: 100px;
    width: 100%;
  }
}
