@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url(./nav-bar.css);
@import url(./main-page.css);
@import url(./about.css);
@import url(./translator.css);
@import url(./faq.css);
@import url(./footer.css);
@import url(./catalogue.css);
@import url(./create-translation.css);
@import url(./settings.css);
@import url(./own-translations.css);
@import url(./bookmarks.css);
@import url(./notification.css);
@import url(./mail.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: #1a1e29;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.page_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.nav_menu_item p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s;
}

.nav_menu_item p:hover {
  transition: all 0.3s;
  color: yellow;
}
.active_nav_menu p {
  color: yellow;
  transition: all 0.3s;
}

.main_bb {
  border-bottom: 1px solid #5e626c;
  padding-bottom: 20px;
}

.fww {
  flex-wrap: wrap;
}
.not_found_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not_found_content h1 {
  color: var(--dark, #5e626c);
  text-align: center;
  font-family: Inter;
  font-size: 250px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.back_to_home {
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid var(--dark, #5e626c);
}

.about_book_action {
  transition: all 0.3s ease;
  cursor: pointer;
}
.about_book_action:hover {
  transition: all 0.3s ease;
  border-radius: 5px;
  border-color: #00eafd;

  background: var(--blue, #00eafd);
  box-shadow: 0px 5px 15px 0px rgba(0, 234, 253, 0.3);
}

.about_book_action p {
  transition: all 0.3s ease;
}

.about_book_action:hover p {
  transition: all 0.3s ease;
  color: #1a1e29;
}
.about_book_action svg * {
  transition: all 0.3s ease;
}

.about_book_action:hover svg * {
  transition: all 0.3s ease;
  stroke: #1a1e29;
}

/* Toggle Switch */
